body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  .box {
    background: #ffffdd;
    border: 1px solid #999;
    float:center;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
  }
  
  .matrix {
    background: #1d2658 ;
    text-align: center;
    color: #ffffdd;
    height: 500px;
    border: 5px solid rgb(234, 241, 235);
  } 

  .inner-matrix {
    background: #8e9cac ;
    text-align: center;
    height: 500px;
    border: 5px solid rgb(29, 102, 109);
    padding-top: 1cm
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    float: center;
  }